@*@model IEnumerable<WebStore.Models.Employee>*@
@model WebStore.Models.Employee
@{
    ViewData["Title"] = "CreateNewEmploye";
}

<form action="Edit" method="post">
    <span>Имя: </span><input asp-for="FirstName" />
    <span>Фамилия: </span><input asp-for="SurName" />
    <span>Возраст: </span><input asp-for="Age" />
    <input asp-for="Id" hidden="hidden"/>
    <input type="submit" />
</form>
