
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<ol style="list-style: circle;">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Employes" asp-action="Index">Employes</a></li>
    <li><a asp-controller="Employes" asp-action="CreateNewEmploye">Create New</a></li>
</ol>
<hr />