
@{
    //ViewData["Title"] = "_LayoutBase";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/style.css">
    <title>@ViewBag.Title</title>
</head>
    <body>

        @await Html.PartialAsync("Partial/_Header")
        @await Html.PartialAsync("Partial/_Navigation")

        @RenderBody()

        @await  Html.PartialAsync("Partial/_Footer")

        @await RenderSectionAsync("Scripts", false)
    </body>
</html>

