@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header class="header">
    <h3>Магазин микропроцессорной техники</h3>
    <hr />
</header>