
@{
    ViewData["Title"] = "CreateNewEmploye";
}


<form action="/Employes/Add" method="post">
    <span>Имя: </span><input type="text" name="_FirstName" />
    <span>Фамилия: </span><input type="text" name="_SecondName" />
    <span>Возраст: </span><input type="number" name="_Age" />
    <input type="submit" />
</form>