@*@model IEnumerable<WebStore.Models.Employee>*@
@model WebStore.Models.Employee
@{
    ViewData["Title"] = "CreateNewEmploye";
}


@if (Model != null)
{
    <form action="/Employes/Add" method="post">
        <span>Имя: </span><input type="text" name="_FirstName" value="@Model.FirstName"/>
        <span>Фамилия: </span><input type="text" name="_SecondName" value="@Model.SurName" />
        <span>Возраст: </span><input type="number" name="_Age" value="@Model.Age"/>
        <input type="number" name="_Id" value="@Model.Id" hidden="hidden"/>
        <input type="submit" />
    </form>
}
else
{
    <form action="/Employes/Add" method="post">
        <span>Имя: </span><input type="text" name="_FirstName" />
        <span>Фамилия: </span><input type="text" name="_SecondName"/>
        <span>Возраст: </span><input type="number" name="_Age" />
        <input type="submit" />
    </form>
}
