
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<hr/>
<div class="footer">
    <p>Это FOOTER</p>
    <p>Copyright 2019</p>
</div>